.header-buttons {
    display: flex;
  }

.home {
    padding: 10pt;
}

.tg {
    padding: 10pt;
}

img {
    max-height: 540px;
    width: auto;
}

.article-root {
    padding-top: 20pt;
    padding-bottom: 60pt;
}

@media screen and (max-width: 720px) {
    .article-root {
        max-width: unset;
    }
}

@media screen and (min-width: 721px) {
    .article-root {
        max-width: 60rem;
    }
}

.article-publication-date {
    font-size: 12px;
    margin-bottom: 0;
    padding-bottom: 1em;
    color: #666;
}

code, 
pre {
    font-family: JetBrains Mono, monospace;
}

a:hover {
    color: #F7C71B;
}

code,
pre {
    font-family: JetBrains Mono, monospace;
}

blockquote {
    padding: 0 1em;
    border-left: 0.25em solid #d1d9e0;
}